* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 70%;
    height: 100vh;
    margin: 1.6rem auto;
}

#greetings {
    font-size: 3.2rem;
    margin-top: .8rem;
}

.clock {
    display: inline-block;
    margin: auto;
    align-items: center;
    width: 250px;
}

.clock span {
    font-size: 4.8rem;
    font-weight: bold;
    align-items: center;
}

#image {
    width: 40%;
    object-fit: cover;
}

footer {
    height: 8rem;
    text-align: center;
    margin-top: .8rem;
}
